$white: #fff;
$spray: #90E0EF;
$black: #000000;
$viking: #68DCCA;
$melrose: #B3C0FF;
$cerulean: #00B4D8;
$ice-cold: #ADE8F4;
$gulf-blue: #03045E;
$royal-blue: #4460F1;
$picton-blue: #48CAE4;
$humming-bird: #CAF0F8;
$pacific-blue: #0096C7;
$congress-blue: #023E8A;
$deep-cerulean: #0077B6;