@import "~bootstrap/scss/bootstrap";
@import "./colors";

@font-face {
    font-family: 'basiercircle-regular';
    src: local('MyFont'), url(../fonts/basiercircle-regular.otf) format('otf');
  }

.App{
    height: auto;
    min-height: 100vh;
    padding: 30px 0 60px;
    background-color: #F9F9F9;

    @include  media-breakpoint-down(md){
        padding: 55px 0 26px;
    }

        .aside{
            height: 100%;
            border-radius: 15px;
            background-color: #fff;

            @include  media-breakpoint-down(md){
                display: none;
            }
        }
}

@import "./pages/PersonalInformation/navigator.scss";
@import "./pages/PersonalInformation/profile.scss";