@import "~bootstrap/scss/bootstrap";
@import "./colors";
@import "./utils";

@font-face {
    font-family: 'basiercircle-regular';
    src: local('MyFont'), url(../fonts/basiercircle-regular.otf) format('otf');
  }

.App{
    background-color: #F9F9F9;

        .aside{
            background-color: #fff;
            height: 100vh;
        }
}